flows_dipe-pi.json
[{"id":"37daec28.284ee4","type":"tab","label":"WoZi","disabled":false,"info":""},{"id":"2ba29887.9266e8","type":"tab","label":"EsZi","disabled":false,"info":""},{"id":"3a471104.edfbae","type":"tab","label":"Treppenhaus","disabled":false,"info":""},{"id":"4d90b497.b5b2ac","type":"tab","label":"Waschküche","disabled":false,"info":""},{"id":"293bb437.fa00bc","type":"tab","label":"Außen","disabled":false,"info":""},{"id":"fc81a32b.bb6db","type":"tab","label":"Hausklima","disabled":false,"info":""},{"id":"2f328ad8.26ca86","type":"tab","label":"Netzwerk","disabled":false,"info":""},{"id":"29cd7d28.a2bf92","type":"tab","label":"Testecke","disabled":false,"info":""},{"id":"2788b93b.8a2f56","type":"tab","label":"Lüftungsempfehlungen","disabled":false,"info":""},{"id":"befdc0fb.ac3d3","type":"subflow","name":"blink","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"f01a88f1.841248"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"f01a88f1.841248","port":0},{"id":"b6139de2.2f87d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"74074f6d.94c6d","type":"subflow","name":"detect short long","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"d15cd0de.e4d8a"}]}],"out":[{"x":860,"y":80,"wires":[{"id":"c7393d5d.d251","port":0}]},{"x":860,"y":160,"wires":[{"id":"c7393d5d.d251","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"9c55ddd0.25baf","type":"hue-bridge","name":"hue-wohnzimmer","bridge":"172.28.29.74","key":"Vu2cP6RdjxBkZHQ8FMu-1QQDfreEQVYcQUwPF3gJ","interval":"3000","disableupdates":false},{"id":"c349b9ff.9dc4c8","type":"mqtt-broker","name":"dipe","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c3f84e99.0ea82","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc07af4f.71ca1","type":"ui_tab","name":"Wohnzimmer","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e4ade7a.0cef418","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"[DIPE] Home","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"none","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b9713a7.a3a26c","type":"ui_group","name":"Tiffany","tab":"dc07af4f.71ca1","order":3,"disp":true,"width":"6","collapse":false},{"id":"3f0994e3.62d76c","type":"ui_group","name":"Szenen","tab":"dc07af4f.71ca1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4675dbc.146e1","type":"ui_group","name":"Leuchter","tab":"dc07af4f.71ca1","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a760c5.5eef1f4","type":"ui_tab","name":"Esszimmer","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"740db3e2.8916ac","type":"ui_group","name":"Fensterbank","tab":"dc07af4f.71ca1","order":4,"disp":true,"width":"6","collapse":false},{"id":"33913a78.8716a6","type":"ui_group","name":"Klavierlampe","tab":"dc07af4f.71ca1","order":5,"disp":true,"width":"6","collapse":false},{"id":"12ecf9a1.9cb126","type":"ui_group","name":"Tisch","tab":"4a760c5.5eef1f4","order":2,"disp":true,"width":"6","collapse":false},{"id":"643154e.6b44bac","type":"ui_group","name":"Eckschrank","tab":"4a760c5.5eef1f4","order":3,"disp":true,"width":"6","collapse":false},{"id":"aca2d944.6c15c8","type":"ui_group","name":"Szenen","tab":"4a760c5.5eef1f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c76ef79.75b781","type":"ui_tab","name":"Waschküche","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8240b43a.1094b8","type":"ui_group","name":"Verlauf","tab":"1c76ef79.75b781","order":2,"disp":true,"width":"6","collapse":false},{"id":"e822c4d8.ce3a88","type":"ui_tab","name":"Netzwerk","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"48b52eb1.50063","type":"fritzbox-config","name":"","host":"fritz.box","port":"49443","ssl":true,"user":"nodered"},{"id":"7e092ea0.4f2d9","type":"ui_group","name":"Aktuell","tab":"1c76ef79.75b781","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6cd8d1b.1cff3","type":"fritzbox-config","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true,"user":"nodered"},{"id":"6786a4fc.656a2c","type":"ui_group","name":"DSL","tab":"e822c4d8.ce3a88","order":1,"disp":true,"width":"6","collapse":false},{"id":"10925253.f46f4e","type":"hangoutsCertificate","clientEmail":"haus-bot@home-hangout.iam.gserviceaccount.com","privateKey":"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCYNybJAubXeD6C\\nZQlSnhfZcVDgZWo4Yb3xAEz4/T0b5GpjaiO3oVYcdliFhVc+IfjmPPCeVDQvk3g7\\ns5YqG6NdRtvfqMrckUFzKA4DWmGBM+cdteoloTwn37FDxVZCk2ADXw/A++6bhKcl\\nh9hPtbL6UJvj0Vye5yeVjB9v5/l0pbJ3W+OXDEEZsGtYq3RMeKF7ghY00Z7uweiH\\nxoPO0tOZ5kp9Inmwy7Wd0D+OsjGjyEAu0zsvTOAatdeeErsQmfCrz5U13GYGoUbt\\nQfEChBIA1I17D/Pq9YuJXD+hAM7ZrC48zZwwM2HMoRSSRfiux2kfFhNW/d1zglzS\\nazqAs0lZAgMBAAECggEAD7mx6HYj6FqINbMvvIDv9JNKAFbF26OQapWl/hq2fZtS\\nWOkyHbJdqbTZxhiNl/INS2b8ElVfa1NcSmmuH7VJgjVT+ZYv+AvLI9UdZoAHvwAA\\nVl/Q+/h9dR6dawOX+uqMEqkXYO/+GYPBu2U+hhSe1BCwHEAIxjNaEe9/H3HrIf9k\\nBDSc8mRk1MwOiu5BvKxISWdWbgAgZKzlQaD9/knH430b9YtmF/jseoa1oG+p3cpu\\nfCyFma7yabR9Quugnx8IqSAm4rxVrDfAgH3gRsjwx5QUsl9wVz/egF0XRS6ScR7t\\nvxjd1oUr9Jt1G3QyPk2zLAD+IgAHNah6Sp/Jrp6pgQKBgQDK5Rl6jNlxUQHHSk26\\nQPV4fUMA3aQeERNqRKvSIPNB7upTbdh1ZoU5UeIzIIP4vI4y/B7V+fMQDXjjXuv2\\nft/R6SQ2DgoA3LOH6c+H6c5M5EtPNe/CSkUeKOlIO7IEQVbMyeroV49hfbslHl9G\\nnXxzmmb6pv6lKZTSy75SLZPCgQKBgQDADkqg2Qg26zFxSC5aeiUTQSzyBbVZxwlU\\nnibZpzB9oeQTWuCiS5HWug4T35/YYmzmnQDsM+EQ+JyLdWY9js4Was4eeI/2BxDN\\nYH5TKRB0rIJZ8brUjhVPYSxnBBC+nH9fxlHCQtJA8agEeB6lwqFjy0d6Av+1TUMm\\nBe9j5upq2QKBgD398eL31hhBYAG8OjOGVXoTC73f+p0VKpF1meoCF1E15nLHRTPZ\\ntyrkUfC9JpWBRxFc5y8Jx7JH63/NKNuPuGMykNXTREsvI8uLLNWiIl5sAnaZTEBY\\n4PVuGpjvZFzYeeTobNXAqxZmjB+zP/kbdUL9EinTjEp6gfZGOkhxlIwBAoGATOhs\\nMiU3COb+EaMaDNlE54T9/p0SljUCI4SBgj9VR7oAn0+RDOy+JgKziHnQhNJFUcQl\\njnDn++fSqHYGzzfUh12V1NXqsFb7/4JYk+ypzk8Wk/YdHukW14bORSJ3oh0BVNUS\\nAHzJvYAIDGIdw7tA7bmFkfKJe4zJCvztdFAQJ2ECgYEAwmUMJ8lxdckV2RhxSs8G\\n1iG5f+lfU/e28EHDkV5w20ggaHiybaR/Ye72dLFLXhszMgaVWrP52Voc5aQ3oPaM\\nobJnbdft7IEcLpjLyM94jIN+gGhMvEaulLM3Do/odUvcGpQj8mSqcJqLA/j/j9a7\\n9dAIlJJsy5l3DfBFNn3fNFQ=\\n-----END PRIVATE KEY-----\\n"},{"id":"96087061.c7ebf","type":"ui_tab","name":"Außen","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"d32aa509.f54168","type":"ui_group","name":"Aktuell","tab":"96087061.c7ebf","order":1,"disp":true,"width":6,"collapse":false},{"id":"f0967dd4.486f","type":"ui_group","name":"Verlauf","tab":"96087061.c7ebf","order":2,"disp":true,"width":6,"collapse":false},{"id":"eeb221fb.ab27f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"InfluxDB","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"4218b917.19c388","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"test 1.8 flux","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"https://localhost:8086","rejectUnauthorized":false},{"id":"34d9864c.b1c48a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"https://localhost:9999","rejectUnauthorized":false},{"id":"e8e347ff.a2d828","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"test 1.8 flux","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"https://localhost:8086","rejectUnauthorized":false},{"id":"df38d77.6477828","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"test 1.8 flux","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"https://localhost:8086","rejectUnauthorized":false},{"id":"3947370c.304948","type":"influxdb","hostname":"192.168.202.177","port":"8086","protocol":"http","database":"wl.adviser.com","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"b903c81d.e4ee18","type":"ui_tab","name":"Hausklima","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"d63872c3.cf8dc","type":"ui_group","name":"Aktuell","tab":"b903c81d.e4ee18","order":1,"disp":true,"width":"6","collapse":false},{"id":"957dd4b7.619928","type":"ui_group","name":"Verlauf","tab":"b903c81d.e4ee18","order":2,"disp":true,"width":"6","collapse":false},{"id":"c824e9e5.f339c8","type":"ui_tab","name":"Treppenhaus","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"64b01bd0.e1d1b4","type":"ui_group","name":"Aktuell","tab":"c824e9e5.f339c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8ee0bf9.1711f8","type":"mqtt-broker","z":"29cd7d28.a2bf92","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6e72ca89.a4fc04","type":"ui_spacer","name":"spacer","group":"f0967dd4.486f","order":2,"width":"6","height":"2"},{"id":"da0dc882.b12038","type":"ui_tab","name":"Lüftungsempfehlunngen","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"245ec0f9.12765","type":"ui_group","name":"Group 1","tab":"da0dc882.b12038","order":1,"disp":true,"width":6},{"id":"f77b2145.7fdf6","type":"ui_group","name":"Group 2","tab":"da0dc882.b12038","order":2,"disp":true,"width":6},{"id":"7b39a42d.e9e52c","type":"hue-bridge-node","z":"37daec28.284ee4","name":"dipe","bridge":"9c55ddd0.25baf","autoupdates":true,"skipglobalevents":false,"x":150,"y":80,"wires":[[]]},{"id":"f01a88f1.841248","type":"template","z":"befdc0fb.ac3d3","name":"Action toggle","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"action\": \"toggle\"}","output":"json","x":330,"y":120,"wires":[["5f7ad033.88514"]]},{"id":"b6139de2.2f87d","type":"template","z":"befdc0fb.ac3d3","name":"Action toggle","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"action\": \"toggle\"}","output":"json","x":730,"y":120,"wires":[[]]},{"id":"5f7ad033.88514","type":"delay","z":"befdc0fb.ac3d3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":120,"wires":[["b6139de2.2f87d"]]},{"id":"664aeec7.e753d","type":"switch","z":"37daec28.284ee4","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":370,"y":440,"wires":[[],[],["49199ea5.7436c"],["f4dedcc1.6edff"],[],[],["5a9ba8dd.c08758"],["49199ea5.7436c"],["f4dedcc1.6edff"]]},{"id":"c7393d5d.d251","type":"switch","z":"74074f6d.94c6d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":120,"wires":[[],[]]},{"id":"b878ef06.91fa7","type":"json","z":"37daec28.284ee4","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":440,"wires":[["664aeec7.e753d"]]},{"id":"500b4e64.84283","type":"change","z":"74074f6d.94c6d","name":"Process delta","rules":[{"t":"set","p":"threshold","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"delta","pt":"msg","to":"payload[1].timestamp - payload[0].timestamp","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"delta <= 5000 ? (delta < threshold ? 'short' : 'long') : undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["c7393d5d.d251"]]},{"id":"af3c9414.281838","type":"mqtt in","z":"37daec28.284ee4","name":"Fernbedienung WoZi","topic":"zigbee2mqtt/Fernbedienung WoZi","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":190,"y":400,"wires":[["b878ef06.91fa7"]]},{"id":"113b0178.6ed4ff","type":"join","z":"74074f6d.94c6d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload.state","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":120,"wires":[["500b4e64.84283"]]},{"id":"d15cd0de.e4d8a","type":"change","z":"74074f6d.94c6d","name":"Add timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{'state': payload, 'timestamp': $millis()}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["113b0178.6ed4ff"]]},{"id":"930e92a7.3f378","type":"mqtt in","z":"37daec28.284ee4","name":"Wandtaster rechts","topic":"wandschalter_wozi1/binary_sensor/rechts/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":190,"y":260,"wires":[["5bd1bdfd.b90a34"]]},{"id":"84c90245.9e44f","type":"mqtt in","z":"37daec28.284ee4","name":"Wandtaster links","topic":"wandschalter_wozi1/binary_sensor/links/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":180,"y":220,"wires":[["c018a260.a19a4"]]},{"id":"fb43367b.7b8798","type":"inject","z":"2ba29887.9266e8","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Started!","payloadType":"str","x":150,"y":340,"wires":[["a4d36104.6861a","3821ccd0.2b46d4"]]},{"id":"a4d36104.6861a","type":"function","z":"2ba29887.9266e8","name":"initialize","func":"flow.set(\"esszimmertisch\", {\"state\": \"off\"});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[[]]},{"id":"3821ccd0.2b46d4","type":"template","z":"2ba29887.9266e8","name":"action off","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"action\": \"off\"}","output":"json","x":420,"y":360,"wires":[["65255bf4.4a4b34"]]},{"id":"65255bf4.4a4b34","type":"link out","z":"2ba29887.9266e8","name":"initialize","links":[],"x":535,"y":360,"wires":[]},{"id":"24b7e9a9.dd1536","type":"switch","z":"2ba29887.9266e8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":390,"y":620,"wires":[["fbd3fa30.5c21a8"],["8292a950.919fc8"],["a28d578f.9e08b8"],["2efa936c.7096bc"],["778e41ee.f0eb4"]]},{"id":"290b868d.4fa33a","type":"mqtt in","z":"2ba29887.9266e8","name":"Fernbedienung Esszimmer","topic":"zigbee2mqtt/Fernbedienung Esszimmer","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":190,"y":580,"wires":[["24b7e9a9.dd1536"]]},{"id":"8292a950.919fc8","type":"template","z":"2ba29887.9266e8","name":"State OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"OFF\"}","output":"json","x":610,"y":600,"wires":[["13b7ccd6.d98e83"]]},{"id":"fbd3fa30.5c21a8","type":"template","z":"2ba29887.9266e8","name":"State ON_","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"ON\"}","output":"json","x":610,"y":560,"wires":[["13b7ccd6.d98e83"]]},{"id":"13b7ccd6.d98e83","type":"mqtt out","z":"2ba29887.9266e8","name":"Esszimmertisch","topic":"zigbee2mqtt/Esszimmertisch/set","qos":"1","retain":"","broker":"c349b9ff.9dc4c8","x":980,"y":560,"wires":[]},{"id":"de92566e.0d9718","type":"mqtt in","z":"2ba29887.9266e8","name":"Esszimmertisch","topic":"zigbee2mqtt/Esszimmertisch","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":1160,"y":560,"wires":[["c4938613.a86088","811e8564.045d88"]]},{"id":"c4938613.a86088","type":"json","z":"2ba29887.9266e8","name":"","property":"payload","action":"obj","pretty":false,"x":1310,"y":560,"wires":[["6d9790ef.bf03b","af26ea70.e86bc8","4db81f06.f5ed8"]]},{"id":"6d9790ef.bf03b","type":"change","z":"2ba29887.9266e8","name":"save Esszimmertisch state","rules":[{"t":"set","p":"state","pt":"msg","to":"payload.state = 'ON' ? 'on' : 'off'","tot":"jsonata"},{"t":"set","p":"brightness","pt":"msg","to":"payload.brightness","tot":"jsonata"},{"t":"set","p":"esszimmertisch","pt":"flow","to":"{'state': state, 'brightness': brightness}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":600,"wires":[["e1bc8179.cec62"]]},{"id":"e2cb5e97.bb6e8","type":"function","z":"2ba29887.9266e8","name":"increment esszimmertisch brightness","func":"var leuchter = flow.get(\"esszimmertisch\")\n\nleuchter[\"brightness\"] += 5;\nif (leuchter[\"brightness\"] > 100) {\n    leuchter[\"brightness\"] = 100;\n}\n\nflow.set(\"esszimmertisch\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":640,"wires":[["13b7ccd6.d98e83"]]},{"id":"f0e908ff.7a1918","type":"function","z":"2ba29887.9266e8","name":"decrement esszimmertisch brightness","func":"var leuchter = flow.get(\"esszimmertisch\")\n\nleuchter[\"brightness\"] -= 5;\nif (leuchter[\"brightness\"] < 10) {\n    leuchter[\"brightness\"] = 20;\n}\nflow.set(\"esszimmertisch\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":680,"wires":[["13b7ccd6.d98e83"]]},{"id":"e1bc8179.cec62","type":"debug","z":"2ba29887.9266e8","name":"Esszimmertisch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":640,"wires":[]},{"id":"a28d578f.9e08b8","type":"looptimer","z":"2ba29887.9266e8","duration":"0.25","units":"Second","maxloops":"20","maxtimeout":"10","maxtimeoutunits":"Second","name":"Dim","x":590,"y":640,"wires":[["e2cb5e97.bb6e8"],[]]},{"id":"2efa936c.7096bc","type":"looptimer","z":"2ba29887.9266e8","duration":"0.25","units":"Second","maxloops":"20","maxtimeout":"10","maxtimeoutunits":"Second","name":"Dim","x":590,"y":680,"wires":[["f0e908ff.7a1918"],[]]},{"id":"778e41ee.f0eb4","type":"template","z":"2ba29887.9266e8","name":"STOP","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"STOP","output":"str","x":410,"y":680,"wires":[["a28d578f.9e08b8","2efa936c.7096bc"]]},{"id":"e67f8756.0aced8","type":"link in","z":"2ba29887.9266e8","name":"","links":[],"x":275,"y":660,"wires":[["24b7e9a9.dd1536"]]},{"id":"4db81f06.f5ed8","type":"mqtt out","z":"2ba29887.9266e8","name":"Esszimmer Eckschrank","topic":"zigbee2mqtt/Esszimmer Eckschrank/set","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1010,"y":860,"wires":[]},{"id":"5b18f2d2.31ab8c","type":"mqtt in","z":"2ba29887.9266e8","name":"Esszimmer Eckschrank","topic":"zigbee2mqtt/Esszimmer Eckschrank","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":1240,"y":860,"wires":[["2aacd971.071d76"]]},{"id":"2aacd971.071d76","type":"json","z":"2ba29887.9266e8","name":"","property":"payload","action":"obj","pretty":false,"x":1410,"y":860,"wires":[["ca4c1378.25b3f","ddf229af.5ef508"]]},{"id":"ca4c1378.25b3f","type":"change","z":"2ba29887.9266e8","name":"save Esszimmer Eckschrank state","rules":[{"t":"set","p":"state","pt":"msg","to":"payload.state = 'ON' ? 'on' : 'off'","tot":"jsonata"},{"t":"set","p":"brightness","pt":"msg","to":"payload.brightness","tot":"jsonata"},{"t":"set","p":"Esszimmer_eckschrank","pt":"flow","to":"{'state': state, 'brightness': brightness}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":900,"wires":[["c0204c41.c1cbb"]]},{"id":"c0204c41.c1cbb","type":"debug","z":"2ba29887.9266e8","name":"Esszimmer Eckschrank","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":940,"wires":[]},{"id":"ddf229af.5ef508","type":"function","z":"2ba29887.9266e8","name":"state","func":"msg.payload = {\"state\": msg.payload.state};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":940,"wires":[["cc2ba7a4.276d78"]]},{"id":"cc2ba7a4.276d78","type":"ui_switch","z":"2ba29887.9266e8","name":"An/Aus Esszimmer Eckschrank","label":"An/Aus","tooltip":"","group":"643154e.6b44bac","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"state\": \"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\": \"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":1090,"y":980,"wires":[["4db81f06.f5ed8"]]},{"id":"af26ea70.e86bc8","type":"function","z":"2ba29887.9266e8","name":"state","func":"msg.payload = {\"state\": msg.payload.state};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":660,"wires":[["efbb8637.d28188"]]},{"id":"efbb8637.d28188","type":"ui_switch","z":"2ba29887.9266e8","name":"An/Aus Esszimmer Tisch","label":"An/Aus","tooltip":"","group":"12ecf9a1.9cb126","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"state\": \"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\": \"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":1150,"y":700,"wires":[["13b7ccd6.d98e83"]]},{"id":"811e8564.045d88","type":"function","z":"2ba29887.9266e8","name":"brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":740,"wires":[["b95edb0e.4e93d8"]]},{"id":"b95edb0e.4e93d8","type":"ui_slider","z":"2ba29887.9266e8","name":"Helligkeit Esszimmer Tisch Fernsehzimmer","label":"Helligkeit","tooltip":"","group":"12ecf9a1.9cb126","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"10","max":"100","step":"10","x":1210,"y":780,"wires":[["6f2d06af.6b5c88"]]},{"id":"6f2d06af.6b5c88","type":"function","z":"2ba29887.9266e8","name":"brightness","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":780,"wires":[["13b7ccd6.d98e83"]]},{"id":"c631ec2b.95c1d","type":"function","z":"37daec28.284ee4","name":"initialize Scenes","func":"flow.set(\"current_scene_idx\", 0)\nflow.set(\"max_scene_idx\", 4)\nflow.set(\"scenes\", [\n        {   scene_idx: 0,\n            scene_name: \"aus\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tiffany\",\n                    on: false\n                },\n                {   device_idx: 2,\n                    name: \"Fensterbank\",\n                    state: \"off\"\n                },\n                {   device_idx: 3,\n                    name: \"Klavierlampe\",\n                    state: \"off\"\n                },\n                {   device_idx: 4,\n                    name: \"Leuchter\",\n                    on: false\n                }\n            ]\n        },\n        {   scene_idx: 1,\n            scene_name: \"ambiente\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tiffany\",\n                    brightness: 70,\n                    on: true\n                },\n                {   device_idx: 2,\n                    name: \"Fensterbank\",\n                    brightness: 70,\n                    state: \"on\"\n                },\n                {   device_idx: 3,\n                    name: \"Klavierlampe\",\n                    state: \"on\"\n                },\n                {   device_idx: 4,\n                    name: \"Leuchter\",\n                    on: false\n                }\n            ]\n        },\n          {   scene_idx: 2,\n            scene_name: \"cosy\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tiffany\",\n                    brightness: 100,\n                    on: true\n                },\n                {   device_idx: 2,\n                    name: \"Fensterbank\",\n                    brightness: 100,\n                    state: \"on\"\n                },\n                {   device_idx: 3,\n                    name: \"Klavierlampe\",\n                    state: \"on\"\n                },\n                {   device_idx: 4,\n                    name: \"Leuchter\",\n                    on: false\n                }\n            ]\n        },\n        {   scene_idx: 3,\n            scene_name: \"sofa_read\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tiffany\",\n                    brightness: 100,\n                    on: true\n                },\n                {   device_idx: 2,\n                    name: \"Fensterbank\",\n                    brightness: 255,\n                    state: \"on\"\n                },\n                {   device_idx: 3,\n                    name: \"Klavierlampe\",\n                    state: \"on\"\n                },\n                {   device_idx: 4,\n                    name: \"Leuchter\",\n                    on: false\n                }\n            ]\n        },\n      {   scene_idx: 4,\n            scene_name: \"bright\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tiffany\",\n                    brightness: 100,\n                    on: true\n                },\n                {   device_idx: 2,\n                    name: \"Fensterbank\",\n                    brightness: 255,\n                    state: \"on\"\n                },\n                {   device_idx: 3,\n                    name: \"Klavierlampe\",\n                    state: \"on\"\n                },\n                {   device_idx: 4,\n                    name: \"Leuchter\",\n                    brightness: 100,\n                    on: true\n                }\n            ]\n        }\n    ]\n)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[[]]},{"id":"dd76d72f.e06798","type":"switch","z":"37daec28.284ee4","name":"","property":"payload.device_idx","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":1130,"y":540,"wires":[[],["3a3f3f29.1be49"],["bd4f1b1d.c1d598"],["773f6fe1.26d11"],["d0971035.fd6cc"]]},{"id":"49199ea5.7436c","type":"function","z":"37daec28.284ee4","name":"next scene","func":"var current_scene_idx = flow.get(\"current_scene_idx\");\nvar max_scene_idx = flow.get(\"max_scene_idx\");\n\ncurrent_scene_idx++\nif (current_scene_idx > max_scene_idx) {\n    current_scene_idx = 0\n}\n\nmsg.payload = current_scene_idx;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":440,"wires":[["ed1e9ea1.c5e59"]]},{"id":"f4dedcc1.6edff","type":"function","z":"37daec28.284ee4","name":"previous scene","func":"var current_scene_idx = flow.get(\"current_scene_idx\");\nvar max_scene_idx = flow.get(\"max_scene_idx\");\n\ncurrent_scene_idx--\nif (current_scene_idx < 0 ) {\n    current_scene_idx = max_scene_idx\n}\n\nflow.set(\"current_scene_idx\", current_scene_idx);\n\nmsg.payload = current_scene_idx;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":480,"wires":[["ed1e9ea1.c5e59"]]},{"id":"ed1e9ea1.c5e59","type":"function","z":"37daec28.284ee4","name":"save scene idx","func":"msg.payload = Number(msg.payload)\nflow.set(\"current_scene_idx\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["62b32ef7.840d6","a7dbd651.4467b8"]]},{"id":"62b32ef7.840d6","type":"debug","z":"37daec28.284ee4","name":"current scene idx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":460,"wires":[]},{"id":"a7dbd651.4467b8","type":"function","z":"37daec28.284ee4","name":"current scene","func":"var scenes = flow.get(\"scenes\");\nvar current_scene_idx = flow.get(\"current_scene_idx\");\nvar scene = scenes[current_scene_idx];\nmsg.payload = scene.devices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["9cfaf9a.449b908"]]},{"id":"9cfaf9a.449b908","type":"split","z":"37daec28.284ee4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":540,"wires":[["dd76d72f.e06798"]]},{"id":"3a3f3f29.1be49","type":"link out","z":"37daec28.284ee4","name":"","links":["5b5a2542.cb90bc","a14232cb.a4256","e30a134d.f410a","6637cc7f.54ff74"],"x":1315,"y":500,"wires":[]},{"id":"bd4f1b1d.c1d598","type":"link out","z":"37daec28.284ee4","name":"","links":["a14232cb.a4256","e30a134d.f410a"],"x":1315,"y":540,"wires":[]},{"id":"773f6fe1.26d11","type":"link out","z":"37daec28.284ee4","name":"","links":["bc7fb10d.fa659","4bbc2b23.ee06a4"],"x":1315,"y":580,"wires":[]},{"id":"d0971035.fd6cc","type":"link out","z":"37daec28.284ee4","name":"","links":["cd111146.3d5c4","e5d97c3.d1d738"],"x":1315,"y":620,"wires":[]},{"id":"c5a30ac4.50aad8","type":"inject","z":"37daec28.284ee4","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Started!","payloadType":"str","x":170,"y":140,"wires":[["c631ec2b.95c1d"]]},{"id":"4d73c0b1.422e1","type":"function","z":"37daec28.284ee4","name":"2","func":"msg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":220,"wires":[["5e79d51e.9213dc"]]},{"id":"79fb43e2.dda08c","type":"function","z":"37daec28.284ee4","name":"4","func":"msg.payload = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["5e79d51e.9213dc"]]},{"id":"5e79d51e.9213dc","type":"function","z":"37daec28.284ee4","name":"toggle szene","func":"var new_scene_idx = msg.payload;\nvar current_scene_idx = flow.get(\"current_scene_idx\");\n\nif (current_scene_idx != new_scene_idx) {\n    current_scene_idx = new_scene_idx\n} else {\n    current_scene_idx = 0\n}\n\nmsg.payload = current_scene_idx;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":240,"wires":[["ed1e9ea1.c5e59"]]},{"id":"dde36893.70da28","type":"ui_button","z":"37daec28.284ee4","name":"","group":"3f0994e3.62d76c","order":3,"width":0,"height":0,"passthru":false,"label":"Gemütlich","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":550,"y":640,"wires":[["ed1e9ea1.c5e59"]]},{"id":"af71545a.27def8","type":"ui_button","z":"37daec28.284ee4","name":"","group":"3f0994e3.62d76c","order":4,"width":0,"height":0,"passthru":false,"label":"Sofa Lesen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":550,"y":680,"wires":[["ed1e9ea1.c5e59"]]},{"id":"2653a92.9545856","type":"ui_button","z":"37daec28.284ee4","name":"","group":"3f0994e3.62d76c","order":5,"width":0,"height":0,"passthru":false,"label":"Hell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":530,"y":720,"wires":[["ed1e9ea1.c5e59"]]},{"id":"e686622f.fbb93","type":"ui_button","z":"37daec28.284ee4","name":"","group":"3f0994e3.62d76c","order":1,"width":0,"height":0,"passthru":false,"label":"Aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":530,"y":560,"wires":[["ed1e9ea1.c5e59"]]},{"id":"53bad8f.3633628","type":"function","z":"2ba29887.9266e8","name":"initialize scenes","func":"flow.set(\"current_scene_idx\", 0)\nflow.set(\"max_scene_idx\", 3)\nflow.set(\"scenes\", [\n        {   scene_idx: 0,\n            scene_name: \"aus\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tisch\",\n                    state: \"off\"\n                },\n                {   device_idx: 2,\n                    name: \"Eckschrank\",\n                    state: \"off\"\n                }\n            ]\n        },\n        {   scene_idx: 1,\n            scene_name: \"Hell\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tisch\",\n                    brightness: 100,\n                    state: \"on\"\n                },\n                {   device_idx: 2,\n                    name: \"Eckschrank\",\n                    state: \"on\"\n                }\n            ]\n        },\n        {   scene_idx: 2,\n            scene_name: \"Gemütlich\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tisch\",\n                    brightness: 50,\n                    state: \"on\"\n                },\n                {   device_idx: 2,\n                    name: \"Eckschrank\",\n                    state: \"on\"\n                }\n            ]\n        },\n        {   scene_idx: 3,\n            scene_name: \"Ambiente\",\n            devices: [\n                {   device_idx: 1,\n                    name: \"Tisch\",\n                    brightness: 10,\n                    state: \"on\"\n                },\n                {   device_idx: 2,\n                    name: \"Eckschrank\",\n                    state: \"on\"\n                }\n            ]\n        }\n    ]\n)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1020,"wires":[[]]},{"id":"8e92a889.216c18","type":"switch","z":"2ba29887.9266e8","name":"","property":"payload.device_idx","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":930,"y":1200,"wires":[[],["cd344841.b0ef18"],["abb09b26.4d8768"]]},{"id":"734500d1.9d61f","type":"function","z":"2ba29887.9266e8","name":"save scene idx","func":"msg.payload = Number(msg.payload)\nflow.set(\"current_scene_idx\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1120,"wires":[["14c16485.af1efb","19f37cfd.d46353"]]},{"id":"14c16485.af1efb","type":"debug","z":"2ba29887.9266e8","name":"current scene idx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1120,"wires":[]},{"id":"19f37cfd.d46353","type":"function","z":"2ba29887.9266e8","name":"current scene","func":"var scenes = flow.get(\"scenes\");\nvar current_scene_idx = flow.get(\"current_scene_idx\");\nvar scene = scenes[current_scene_idx];\nmsg.payload = scene.devices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1160,"wires":[["f47853f2.a021d"]]},{"id":"f47853f2.a021d","type":"split","z":"2ba29887.9266e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":1200,"wires":[["8e92a889.216c18","4c223ece.64593"]]},{"id":"cd344841.b0ef18","type":"link out","z":"2ba29887.9266e8","name":"","links":["91766e4a.6c0a7"],"x":1115,"y":1180,"wires":[]},{"id":"abb09b26.4d8768","type":"link out","z":"2ba29887.9266e8","name":"","links":["b42c6c0f.4b835"],"x":1115,"y":1220,"wires":[]},{"id":"731caccd.2f8924","type":"inject","z":"2ba29887.9266e8","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Started!","payloadType":"str","x":150,"y":1020,"wires":[["53bad8f.3633628"]]},{"id":"2202e11f.f782ee","type":"ui_button","z":"2ba29887.9266e8","name":"","group":"aca2d944.6c15c8","order":4,"width":0,"height":0,"passthru":false,"label":"Hell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":130,"y":1120,"wires":[["734500d1.9d61f"]]},{"id":"f5b99d67.4869b","type":"ui_button","z":"2ba29887.9266e8","name":"","group":"aca2d944.6c15c8","order":2,"width":0,"height":0,"passthru":false,"label":"Gemütlich","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":150,"y":1160,"wires":[["734500d1.9d61f"]]},{"id":"747c9148.1a912","type":"ui_button","z":"2ba29887.9266e8","name":"","group":"aca2d944.6c15c8","order":3,"width":0,"height":0,"passthru":false,"label":"Ambiente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":140,"y":1200,"wires":[["734500d1.9d61f"]]},{"id":"a0a37e43.2bc1b","type":"ui_button","z":"2ba29887.9266e8","name":"","group":"aca2d944.6c15c8","order":1,"width":0,"height":0,"passthru":false,"label":"Aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":130,"y":1080,"wires":[["734500d1.9d61f"]]},{"id":"b42c6c0f.4b835","type":"link in","z":"2ba29887.9266e8","name":"Eckschrank","links":["abb09b26.4d8768"],"x":815,"y":860,"wires":[["4db81f06.f5ed8"]]},{"id":"91766e4a.6c0a7","type":"link in","z":"2ba29887.9266e8","name":"Esszimmertisch","links":["cd344841.b0ef18"],"x":795,"y":520,"wires":[["13b7ccd6.d98e83"]]},{"id":"4c223ece.64593","type":"debug","z":"2ba29887.9266e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":1340,"wires":[]},{"id":"1ac92a12.e9e246","type":"mqtt in","z":"293bb437.fa00bc","name":"","topic":"aussen/sensor/temperatur/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":370,"y":100,"wires":[["cc8a785f.672de8","dcf63c7b.141a4","e84fc5c1.8ed998","3e8bd40f.404dac"]]},{"id":"49e49b7a.bd1f94","type":"mqtt in","z":"293bb437.fa00bc","name":"","topic":"aussen/sensor/relative_luftfeuchtigkeit/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":330,"y":380,"wires":[["bde9abd8.0c36d8","f4d7446c.fa6498","dae7b288.e2b84","8d798950.dbc948"]]},{"id":"9747418a.abad7","type":"ui_chart","z":"293bb437.fa00bc","name":"Aussentemperatur","group":"f0967dd4.486f","order":3,"width":0,"height":0,"label":"Temperatur °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#015bb4","#32ad05","#d62c27","#d62c27","#98df8a","#015bb4","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":140,"wires":[[]]},{"id":"e6c794ed.5470a8","type":"template","z":"37daec28.284ee4","name":"on false","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"on\": false}","output":"json","x":460,"y":2840,"wires":[["ce98e97f.2d4668"]]},{"id":"9722aae9.eb01a8","type":"template","z":"37daec28.284ee4","name":"on true","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"on\": true}","output":"json","x":460,"y":2800,"wires":[["ce98e97f.2d4668"]]},{"id":"ce98e97f.2d4668","type":"hue-light","z":"37daec28.284ee4","name":"Leuchter","bridge":"9c55ddd0.25baf","lightid":"5","colornamer":true,"skipevents":false,"universalevents":false,"x":820,"y":2800,"wires":[["8d2011a9.a7dd9"]]},{"id":"8d2011a9.a7dd9","type":"change","z":"37daec28.284ee4","name":"save leuchter state","rules":[{"t":"set","p":"leuchter","pt":"flow","to":"{'state': payload.on ? 'on' : 'off', 'brightness': payload.brightness}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":2800,"wires":[["e0ebb97d.f4bbc8","1eb0e90c.a080c7","5c73e284.ae189c"]]},{"id":"6ec2c05b.85702","type":"function","z":"37daec28.284ee4","name":"increment leuchter brightness","func":"var leuchter = flow.get(\"leuchter\")\n\nleuchter[\"brightness\"] += 5;\nif (leuchter[\"brightness\"] > 100) {\n    leuchter[\"brightness\"] = 100;\n}\n\nflow.set(\"leuchter\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2880,"wires":[["ce98e97f.2d4668"]]},{"id":"1fb219f9.81c1a6","type":"function","z":"37daec28.284ee4","name":"decrement leuchter brightness","func":"var leuchter = flow.get(\"leuchter\")\n\nleuchter[\"brightness\"] -= 5;\nif (leuchter[\"brightness\"] < 0) {\n    leuchter[\"brightness\"] = 0;\n}\nflow.set(\"leuchter\", leuchter);\n\nif (leuchter[\"brightness\"] >= 0) {\n    msg.payload = {\"brightness\": leuchter[\"brightness\"]};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2920,"wires":[["ce98e97f.2d4668"]]},{"id":"90f805c3.80d1a8","type":"link in","z":"37daec28.284ee4","name":"Leuchter","links":["dc035d1d.61da2","2dad66e6.a64d7a","45a22aec.0fb0a4","a8224012.cff9a"],"x":175,"y":2900,"wires":[["c5eae895.7b7b68"]]},{"id":"c5eae895.7b7b68","type":"switch","z":"37daec28.284ee4","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"brightness_max","vt":"str"},{"t":"eq","v":"brightness_min","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":270,"y":2900,"wires":[["9722aae9.eb01a8"],["e6c794ed.5470a8"],["6ec2c05b.85702"],["1fb219f9.81c1a6"],["1ac336a0.891fa9"],["44c27338.92c2dc"]],"outputLabels":["brightness_up_click","brightness_down_click","","","",""]},{"id":"1ac336a0.891fa9","type":"template","z":"37daec28.284ee4","name":"brightness 100","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 100}","output":"json","x":480,"y":2960,"wires":[["ce98e97f.2d4668"]]},{"id":"44c27338.92c2dc","type":"template","z":"37daec28.284ee4","name":"brightness 1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 1}","output":"json","x":470,"y":3000,"wires":[["ce98e97f.2d4668"]]},{"id":"e0ebb97d.f4bbc8","type":"debug","z":"37daec28.284ee4","name":"Leuchter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":2840,"wires":[]},{"id":"6bade79f.9d5208","type":"template","z":"37daec28.284ee4","name":"State OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"OFF\"}","output":"json","x":470,"y":2500,"wires":[["5d0fee20.ccd4d"]]},{"id":"26b6dd5c.bad522","type":"template","z":"37daec28.284ee4","name":"State ON_","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"ON\"}","output":"json","x":470,"y":2460,"wires":[["5d0fee20.ccd4d"]]},{"id":"5d0fee20.ccd4d","type":"mqtt out","z":"37daec28.284ee4","name":"Klavierlampe","topic":"zigbee2mqtt/Klavierlampe/set","qos":"1","retain":"","broker":"c349b9ff.9dc4c8","x":830,"y":2460,"wires":[]},{"id":"f0382b17.121318","type":"mqtt in","z":"37daec28.284ee4","name":"Klavierlampe","topic":"zigbee2mqtt/Klavierlampe","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":1010,"y":2460,"wires":[["2a4ae50f.d0a24a"]]},{"id":"2a4ae50f.d0a24a","type":"json","z":"37daec28.284ee4","name":"","property":"payload","action":"obj","pretty":false,"x":1150,"y":2460,"wires":[["c47da63c.598c78","7eb17679.660788"]]},{"id":"c47da63c.598c78","type":"change","z":"37daec28.284ee4","name":"save Klavierlampe state","rules":[{"t":"set","p":"state","pt":"msg","to":"payload.state = 'ON' ? 'on' : 'off'","tot":"jsonata"},{"t":"set","p":"brightness","pt":"msg","to":"payload.brightness","tot":"jsonata"},{"t":"set","p":"klavierlampe","pt":"flow","to":"{'state': state, 'brightness': brightness}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2500,"wires":[["31d2f239.bb705e"]]},{"id":"49eff550.6792ac","type":"link in","z":"37daec28.284ee4","name":"Klavierleuchte","links":["ae219441.569ab8","f715e53b.72b9f8","7bc1764c.60caf8","6c132f14.90408","6b660054.35552","bf127571.8796f8"],"x":175,"y":2560,"wires":[["36288578.3ef92a"]]},{"id":"36288578.3ef92a","type":"switch","z":"37daec28.284ee4","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"brightness_max","vt":"str"},{"t":"eq","v":"brightness_min","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":270,"y":2560,"wires":[["26b6dd5c.bad522"],["6bade79f.9d5208"],[],[],["dad47b4a.4b94b8"],["f7703e37.21fc4"]],"outputLabels":["brightness_up_click","brightness_down_click","","","",""]},{"id":"dad47b4a.4b94b8","type":"template","z":"37daec28.284ee4","name":"brightness 254","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 254}","output":"json","x":480,"y":2620,"wires":[["5d0fee20.ccd4d"]]},{"id":"f7703e37.21fc4","type":"template","z":"37daec28.284ee4","name":"brightness 1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 1}","output":"json","x":470,"y":2660,"wires":[["5d0fee20.ccd4d"]]},{"id":"31d2f239.bb705e","type":"debug","z":"37daec28.284ee4","name":"Klavierleuchte","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":2540,"wires":[]},{"id":"e2eef248.b5cb4","type":"ui_switch","z":"37daec28.284ee4","name":"An/Aus Leuchter Fernsehzimmer","label":"An/Aus","tooltip":"","group":"b4675dbc.146e1","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"on\": true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\": false}","offvalueType":"json","officon":"","offcolor":"","x":900,"y":2940,"wires":[["ce98e97f.2d4668"]]},{"id":"9ba97e91.8e85","type":"ui_slider","z":"37daec28.284ee4","name":"Helligkeit Leuchter Fernsehzimmer","label":"Helligkeit","tooltip":"","group":"b4675dbc.146e1","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"5","max":"100","step":"10","x":900,"y":3020,"wires":[["c642f4.031f0d1"]]},{"id":"c642f4.031f0d1","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":3020,"wires":[["ce98e97f.2d4668"]]},{"id":"1eb0e90c.a080c7","type":"function","z":"37daec28.284ee4","name":"on","func":"msg.payload = {\"on\": msg.payload.on};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2900,"wires":[["e2eef248.b5cb4"]]},{"id":"5c73e284.ae189c","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2980,"wires":[["9ba97e91.8e85"]]},{"id":"7eb17679.660788","type":"function","z":"37daec28.284ee4","name":"state","func":"msg.payload = {\"state\": msg.payload.state};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2540,"wires":[["a491d10d.02174"]]},{"id":"a491d10d.02174","type":"ui_switch","z":"37daec28.284ee4","name":"An/Aus Klavierlampe Fernsehzimmer","label":"An/Aus","tooltip":"","group":"33913a78.8716a6","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"state\": \"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\": \"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":910,"y":2580,"wires":[["5d0fee20.ccd4d"]]},{"id":"4bbc2b23.ee06a4","type":"link in","z":"37daec28.284ee4","name":"Set Klavierlampe","links":["7d2f7d57.122c54","773f6fe1.26d11","8bc43dda.f5f76"],"x":715,"y":2420,"wires":[["5d0fee20.ccd4d"]]},{"id":"e5d97c3.d1d738","type":"link in","z":"37daec28.284ee4","name":"Set Leuchter","links":["4b03e0d9.5ac29","d0971035.fd6cc","9e89c97e.5c7568"],"x":715,"y":2760,"wires":[["ce98e97f.2d4668"]]},{"id":"e30a134d.f410a","type":"link in","z":"37daec28.284ee4","name":"Set Fensterbank","links":["54c14fb0.1f53d","8c16d699.6098e8","3a3f3f29.1be49","bd4f1b1d.c1d598"],"x":695,"y":2080,"wires":[["3915a3f2.641aac"]]},{"id":"cd186040.d20c5","type":"template","z":"37daec28.284ee4","name":"on false","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"on\": false}","output":"json","x":460,"y":1820,"wires":[["cdac3aae.dbaea8"]]},{"id":"57e0baf4.8ddcc4","type":"template","z":"37daec28.284ee4","name":"on true","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"on\": true}","output":"json","x":460,"y":1780,"wires":[["cdac3aae.dbaea8"]]},{"id":"cdac3aae.dbaea8","type":"hue-light","z":"37daec28.284ee4","name":"Tiffany","bridge":"9c55ddd0.25baf","lightid":"4","colornamer":true,"skipevents":false,"universalevents":false,"x":810,"y":1780,"wires":[["c197779a.9be8b8"]]},{"id":"44f3abbe.39da34","type":"switch","z":"37daec28.284ee4","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"brightness_max","vt":"str"},{"t":"eq","v":"brightness_min","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":270,"y":1880,"wires":[["57e0baf4.8ddcc4"],["cd186040.d20c5"],["8492401c.16992"],["5b1d5d37.9e8fa4"],["6ac8a56b.24e67c"],["3c5f9e1b.d89dc2"]],"outputLabels":["brightness_up_click","brightness_down_click","","","",""]},{"id":"8492401c.16992","type":"function","z":"37daec28.284ee4","name":"increment tiffany brightness","func":"var leuchter = flow.get(\"tiffany\")\n\nleuchter[\"brightness\"] += 10;\nif (leuchter[\"brightness\"] > 100) {\n    leuchter[\"brightness\"] = 100;\n}\n\nflow.set(\"tiffany\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1860,"wires":[["cdac3aae.dbaea8"]]},{"id":"5b1d5d37.9e8fa4","type":"function","z":"37daec28.284ee4","name":"decrement tiffany brightness","func":"var leuchter = flow.get(\"tiffany\")\n\nleuchter[\"brightness\"] -= 10;\nif (leuchter[\"brightness\"] < 0) {\n    leuchter[\"brightness\"] = 0;\n}\n\nflow.set(\"tiffany\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1900,"wires":[["cdac3aae.dbaea8"]]},{"id":"6ac8a56b.24e67c","type":"template","z":"37daec28.284ee4","name":"brightness 100","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 100}","output":"json","x":480,"y":1940,"wires":[["cdac3aae.dbaea8"]]},{"id":"3c5f9e1b.d89dc2","type":"template","z":"37daec28.284ee4","name":"brightness 1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 1}","output":"json","x":470,"y":1980,"wires":[["cdac3aae.dbaea8"]]},{"id":"9de80797.604738","type":"function","z":"37daec28.284ee4","name":"on","func":"msg.payload = {\"on\": msg.payload.on};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1860,"wires":[["7f43d1d9.714f4"]]},{"id":"c4827cca.a6e8f","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1940,"wires":[["94d98772.d8f278"]]},{"id":"6637cc7f.54ff74","type":"link in","z":"37daec28.284ee4","name":"Set Tiffany","links":["17daaa56.bbd986","54c14fb0.1f53d","3a3f3f29.1be49"],"x":695,"y":1740,"wires":[["cdac3aae.dbaea8"]]},{"id":"47116ef.607c79","type":"link in","z":"37daec28.284ee4","name":"Tiffany","links":["15e380ee.a0db0f","328112f4.3a1a5e","ae219441.569ab8","33579b3d.255244","6c132f14.90408","6b660054.35552","88abccef.24a7d"],"x":175,"y":1880,"wires":[["44f3abbe.39da34"]]},{"id":"c5aa4ded.daf6d","type":"template","z":"37daec28.284ee4","name":"state ON_","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"ON\"}","output":"json","x":460,"y":2120,"wires":[["3915a3f2.641aac"]]},{"id":"3915a3f2.641aac","type":"mqtt out","z":"37daec28.284ee4","name":"Fensterbank","topic":"zigbee2mqtt/Fensterbank/set","qos":"1","retain":"","broker":"c349b9ff.9dc4c8","x":830,"y":2120,"wires":[]},{"id":"f53bfe8.c90b9","type":"mqtt in","z":"37daec28.284ee4","name":"Fensterbank","topic":"zigbee2mqtt/Fensterbank","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":1010,"y":2120,"wires":[["43528aea.e5c924"]]},{"id":"43528aea.e5c924","type":"json","z":"37daec28.284ee4","name":"","property":"payload","action":"obj","pretty":false,"x":1150,"y":2120,"wires":[["63507385.c44d5c","bcc690db.8cb87","b07f212d.4c75a"]]},{"id":"e291675d.3e5718","type":"template","z":"37daec28.284ee4","name":"state OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"state\": \"OFF\"}","output":"json","x":460,"y":2160,"wires":[["3915a3f2.641aac"]]},{"id":"63507385.c44d5c","type":"change","z":"37daec28.284ee4","name":"save fensterbank state","rules":[{"t":"set","p":"state","pt":"msg","to":"payload.state = 'ON' ? 'on' : 'off'","tot":"jsonata"},{"t":"set","p":"brightness","pt":"msg","to":"payload.brightness","tot":"jsonata"},{"t":"set","p":"fensterbank","pt":"flow","to":"{'state': state, 'brightness': brightness}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2160,"wires":[["7da55143.813f7"]]},{"id":"f36ca8e5.688cd8","type":"function","z":"37daec28.284ee4","name":"increment fensterbank brightness","func":"var leuchter = flow.get(\"fensterbank\")\n\nleuchter[\"brightness\"] += 25;\nif (leuchter[\"brightness\"] > 254) {\n    leuchter[\"brightness\"] = 254;\n}\n\nflow.set(\"fensterbank\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2200,"wires":[["3915a3f2.641aac"]]},{"id":"f5f8a4cb.927668","type":"function","z":"37daec28.284ee4","name":"decrement fensterbank brightness","func":"var leuchter = flow.get(\"fensterbank\")\n\nleuchter[\"brightness\"] -= 10;\nif (leuchter[\"brightness\"] < 0) {\n    leuchter[\"brightness\"] = 0;\n}\nflow.set(\"fensterbank\", leuchter);\n\nmsg.payload = {\"brightness\": leuchter[\"brightness\"]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2240,"wires":[["3915a3f2.641aac"]]},{"id":"7599c6e6.a5f9a8","type":"link in","z":"37daec28.284ee4","name":"Fensterbank","links":["15e380ee.a0db0f","bc229fc5.4db36","ae219441.569ab8","d6baef0f.243df","6c132f14.90408","6b660054.35552","8f1aeeda.1f8c5"],"x":175,"y":2220,"wires":[["f9c8e4f3.59c4f8"]]},{"id":"f9c8e4f3.59c4f8","type":"switch","z":"37daec28.284ee4","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"brightness_max","vt":"str"},{"t":"eq","v":"brightness_min","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":270,"y":2220,"wires":[["c5aa4ded.daf6d"],["e291675d.3e5718"],["f36ca8e5.688cd8"],["f5f8a4cb.927668"],["15e7f734.573e69"],["c93dba4a.5c8178"]],"outputLabels":["brightness_up_click","brightness_down_click","","","",""]},{"id":"15e7f734.573e69","type":"template","z":"37daec28.284ee4","name":"brightness 254","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 254}","output":"json","x":480,"y":2280,"wires":[["3915a3f2.641aac"]]},{"id":"c93dba4a.5c8178","type":"template","z":"37daec28.284ee4","name":"brightness 1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"brightness\": 1}","output":"json","x":470,"y":2320,"wires":[["3915a3f2.641aac"]]},{"id":"7da55143.813f7","type":"debug","z":"37daec28.284ee4","name":"Fensterbank","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":2200,"wires":[]},{"id":"8e0a2075.97183","type":"ui_switch","z":"37daec28.284ee4","name":"An/Aus Fensterbank Fernsehzimmer","label":"An/Aus","tooltip":"","group":"740db3e2.8916ac","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"state\": \"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\": \"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":910,"y":2220,"wires":[["7da55143.813f7","3915a3f2.641aac"]]},{"id":"4ba59f70.c989c","type":"ui_slider","z":"37daec28.284ee4","name":"Helligkeit Fensterbank Fernsehzimmer","label":"Helligkeit","tooltip":"","group":"740db3e2.8916ac","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"20","max":"254","step":"25","x":910,"y":2300,"wires":[["9ac7d8bf.354318"]]},{"id":"9ac7d8bf.354318","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":2300,"wires":[["3915a3f2.641aac"]]},{"id":"bcc690db.8cb87","type":"function","z":"37daec28.284ee4","name":"state","func":"msg.payload = {\"state\": msg.payload.state};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2180,"wires":[["8e0a2075.97183"]]},{"id":"b07f212d.4c75a","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2260,"wires":[["4ba59f70.c989c"]]},{"id":"c197779a.9be8b8","type":"change","z":"37daec28.284ee4","name":"save tiffany state","rules":[{"t":"set","p":"tiffany","pt":"flow","to":"{'state': payload.on ? 'on' : 'off', 'brightness': payload.brightness}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1780,"wires":[["52aca647.36e3b8","9de80797.604738","c4827cca.a6e8f"]]},{"id":"52aca647.36e3b8","type":"debug","z":"37daec28.284ee4","name":"tiffany","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1820,"wires":[]},{"id":"7f43d1d9.714f4","type":"ui_switch","z":"37daec28.284ee4","name":"An/Aus Tiffany Fernsehzimmer","label":"An/Aus","tooltip":"","group":"1b9713a7.a3a26c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"on\": true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\": false}","offvalueType":"json","officon":"","offcolor":"","x":890,"y":1900,"wires":[["cdac3aae.dbaea8"]]},{"id":"94d98772.d8f278","type":"ui_slider","z":"37daec28.284ee4","name":"Helligkeit Tiffany Fernsehzimmer","label":"Helligkeit","tooltip":"","group":"1b9713a7.a3a26c","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"5","max":"100","step":"10","x":890,"y":1980,"wires":[["ae29ec8b.b975a"]]},{"id":"ae29ec8b.b975a","type":"function","z":"37daec28.284ee4","name":"brightness","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1980,"wires":[["cdac3aae.dbaea8"]]},{"id":"5455332d.7b9c3c","type":"ui_button","z":"37daec28.284ee4","name":"","group":"3f0994e3.62d76c","order":2,"width":0,"height":0,"passthru":false,"label":"Ambiente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":600,"wires":[["ed1e9ea1.c5e59"]]},{"id":"cc8a785f.672de8","type":"function","z":"293bb437.fa00bc","name":"","func":"var temp = parseFloat(msg.payload);\nvar blue = null, green = null, red = null;\n\nif (temp < 0) {\n    blue = temp;\n} else if (temp < 23) {\n    green = temp;\n} else {\n    red = temp;\n}\n\nmsg = [{\n        label: \"Temperatur\",\n        series: \"blue\",\n        payload: blue\n    },\n    {\n        label: \"Temperatur\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Temperatur\",\n        series: \"red\",\n        payload: red\n    },\n];\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":640,"y":140,"wires":[["9747418a.abad7"],["9747418a.abad7"],["9747418a.abad7"]]},{"id":"bde9abd8.0c36d8","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nvar green = null, yellow = null, red = null;\n\nif (val < 35) {\n    green = val;\n} else if (val < 65) {\n    yellow = val;\n} else {\n    red = val;\n}\n\nmsg = [{\n        label: \"Luftfeuchtigkeit\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Luftfeuchtigkeit\",\n        series: \"yellow\",\n        payload: yellow\n    },\n    {\n        label: \"Luftfeuchtigkeit\",\n        series: \"red\",\n        payload: red\n    }\n];\n\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":640,"y":420,"wires":[["cf0c22e8.4b042"],["cf0c22e8.4b042"],["cf0c22e8.4b042"]]},{"id":"cf0c22e8.4b042","type":"ui_chart","z":"293bb437.fa00bc","name":"Rel. Außenluftfeuchtigkeit","group":"f0967dd4.486f","order":6,"width":0,"height":0,"label":"Luftfeuchtigkeit % rel.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#e6e600","#d62728","#d62728","#d62728","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":420,"wires":[[]]},{"id":"f4d7446c.fa6498","type":"ui_gauge","z":"293bb437.fa00bc","name":"Rel. Außenluftfeuchtigkeit","group":"d32aa509.f54168","order":6,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit rel.","label":"% rel.","format":"{{value}}","min":"0","max":"100","colors":["#2ca02c","#e6e600","#ca3838"],"seg1":"35","seg2":"65","x":870,"y":380,"wires":[]},{"id":"dcf63c7b.141a4","type":"ui_gauge","z":"293bb437.fa00bc","name":"Aussentemperatur","group":"d32aa509.f54168","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#1f77b4","#2ca02c","#ca3838"],"seg1":"0","seg2":"23","x":850,"y":100,"wires":[]},{"id":"267d2e1.40785d2","type":"function","z":"2f328ad8.26ca86","name":"Create Message","func":"var send_rate = Number(msg.payload.NewByteSendRate)\nvar receive_rate = Number(msg.payload.NewByteReceiveRate)\n\nmsg = [\n    {payload: receive_rate / 1024 / 1024 * 8},\n    {payload: send_rate / 1024 / 1024 * 8}\n];\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":240,"wires":[["1e26d219.364afe"],["1783a1d7.88d51e"]]},{"id":"a29449a0.411b18","type":"inject","z":"2f328ad8.26ca86","name":"Every 5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":240,"wires":[["3e907215.115b5e"]]},{"id":"3e907215.115b5e","type":"fritzbox-in","z":"2f328ad8.26ca86","device":"d6cd8d1b.1cff3","name":"","service":"urn:schemas-upnp-org:service:WANCommonInterfaceConfig:1","action":"GetAddonInfos","arguments":"{}","x":450,"y":240,"wires":[["267d2e1.40785d2"]]},{"id":"1e26d219.364afe","type":"ui_chart","z":"2f328ad8.26ca86","name":"DSL Downstream","group":"6786a4fc.656a2c","order":1,"width":"0","height":"0","label":"Downstream Mbit/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#1f7728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":220,"wires":[[]]},{"id":"1783a1d7.88d51e","type":"ui_chart","z":"2f328ad8.26ca86","name":"DSL Upstream","group":"6786a4fc.656a2c","order":1,"width":"0","height":"0","label":"Upstream Mbit/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#1f77b4","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":260,"wires":[[]]},{"id":"c7d0f042.da84c","type":"hangoutChatBot","z":"29cd7d28.a2bf92","hangoutsCertificate":"10925253.f46f4e","roomid":"spaces/-fp3jQAAAAE","roomname":"spaces/-fp3jQAAAAE","contentproperty":"Hallo","contenttype":"str","x":410,"y":160,"wires":[["b9ab9ed.d50006"]]},{"id":"4d466cfb.f9e804","type":"inject","z":"29cd7d28.a2bf92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["c7d0f042.da84c"]]},{"id":"b9ab9ed.d50006","type":"debug","z":"29cd7d28.a2bf92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"c018a260.a19a4","type":"switch","z":"37daec28.284ee4","name":"state ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":220,"wires":[["4d73c0b1.422e1"]]},{"id":"5bd1bdfd.b90a34","type":"switch","z":"37daec28.284ee4","name":"state ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":260,"wires":[["79fb43e2.dda08c"]]},{"id":"7933419a.d081f","type":"mqtt in","z":"293bb437.fa00bc","name":"","topic":"aussen/sensor/luftdruck/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":380,"y":240,"wires":[["7eaeb90e.d5fca8","e4621baa.7a9d48","db5109c6.331428","1bc6ee94.b27721"]]},{"id":"f7bf0d89.0d133","type":"mqtt in","z":"293bb437.fa00bc","name":"","topic":"aussen/sensor/taupunkt/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":380,"y":660,"wires":[["27d81638.21a83a","32996bf9.41dac4","cc3d9bdb.0620b8","9e22db22.9a10e8"]]},{"id":"7eaeb90e.d5fca8","type":"function","z":"293bb437.fa00bc","name":"","func":"var temp = parseFloat(msg.payload);\nvar blue = null, green = null, red = null;\n\nif (temp < 1013) {\n    blue = temp;\n} else {\n    red = temp;\n}\n\nmsg = [{\n        label: \"Luftdruck\",\n        series: \"blue\",\n        payload: blue\n    },\n    {\n        label: \"Luftdruck\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Luftdruck\",\n        series: \"red\",\n        payload: red\n    },\n];\nreturn msg;\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":640,"y":280,"wires":[["4fe3c5a4.3ac55c"],["4fe3c5a4.3ac55c"],["4fe3c5a4.3ac55c"]]},{"id":"4fe3c5a4.3ac55c","type":"ui_chart","z":"293bb437.fa00bc","name":"Luftdruck","group":"f0967dd4.486f","order":4,"width":0,"height":0,"label":"Luftdruck hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2ca02c","#2ca02c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":280,"wires":[[]]},{"id":"e4621baa.7a9d48","type":"ui_gauge","z":"293bb437.fa00bc","name":"Luftdruck","group":"d32aa509.f54168","order":4,"width":0,"height":0,"gtype":"gage","title":"Luftdruck","label":"hPa","format":"{{value}}","min":"900","max":"1100","colors":["#1885c9","#e6e600","#2ca02c"],"seg1":"1013","seg2":"1013","x":820,"y":240,"wires":[]},{"id":"e97b208a.72082","type":"ui_chart","z":"293bb437.fa00bc","name":"Taupunkt","group":"f0967dd4.486f","order":5,"width":0,"height":0,"label":"Taupunkt °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2ca02c","#2ca02c","#d62c27","#98df8a","#015bb4","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":820,"y":700,"wires":[[]]},{"id":"27d81638.21a83a","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nvar blue = null, green = null, red = null;\n\nif (val < 0) {\n    blue = val;\n} else if (val < 16) {\n    green = val;\n} else {\n    red = val;\n}\n\nmsg = [{\n        label: \"Taupunk\",\n        series: \"blue\",\n        payload: blue\n    },\n    {\n        label: \"Taupunk\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Taupunk\",\n        series: \"red\",\n        payload: red\n    }\n];\n\nreturn msg;\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":640,"y":700,"wires":[["e97b208a.72082"],["e97b208a.72082"],["e97b208a.72082"]]},{"id":"32996bf9.41dac4","type":"ui_gauge","z":"293bb437.fa00bc","name":"Taupunkt","group":"d32aa509.f54168","order":5,"width":0,"height":0,"gtype":"gage","title":"Taupunkt","label":"°C","format":"{{value}}","min":"-20","max":"25","colors":["#1f77b4","#2ca02c","#ca3838"],"seg1":"0","seg2":"16","x":820,"y":660,"wires":[]},{"id":"e0886731.7dad88","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nmsg = {\n    label: \"Luftfeuchte abs.\",\n    payload: val\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":560,"wires":[["5a3dc914.f715e8"]]},{"id":"3639bcae.ff77c4","type":"mqtt in","z":"293bb437.fa00bc","name":"","topic":"aussen/sensor/absolute_luftfeuchtigkeit/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":330,"y":520,"wires":[["e0886731.7dad88","dfd242ca.c3642","83f71363.85d2f","82474c2a.6e79d"]]},{"id":"dfd242ca.c3642","type":"ui_gauge","z":"293bb437.fa00bc","name":"Abs. Außenluftfeuchtigkeit","group":"d32aa509.f54168","order":7,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit abs.","label":"g/m³","format":"{{value}}","min":"0","max":"30","colors":["#2ca02c","#e6e600","#ca3838"],"seg1":"35","seg2":"65","x":880,"y":520,"wires":[]},{"id":"5a3dc914.f715e8","type":"ui_chart","z":"293bb437.fa00bc","name":"Abs. Außenluftfeuchtigkeit","group":"f0967dd4.486f","order":7,"width":0,"height":0,"label":"Luftfeuchtigkeit g/m³","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#2ca02c","#e6e600","#d62728","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":560,"wires":[[]]},{"id":"e84fc5c1.8ed998","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nglobal.set(\"aussen_temperatur\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[[]]},{"id":"db5109c6.331428","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nglobal.set(\"aussen_luftdruck\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":320,"wires":[[]]},{"id":"dae7b288.e2b84","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nglobal.set(\"aussen_relative_luftfeuchtigkeit\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":460,"wires":[[]]},{"id":"83f71363.85d2f","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nglobal.set(\"aussen_absolute_luftfeuchtigkeit\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":600,"wires":[[]]},{"id":"cc3d9bdb.0620b8","type":"function","z":"293bb437.fa00bc","name":"","func":"var val = parseFloat(msg.payload);\n\nglobal.set(\"aussen_taupunkt\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":740,"wires":[[]]},{"id":"744d42bb.7684ec","type":"mqtt in","z":"4d90b497.b5b2ac","name":"","topic":"waschkueche_luefter/sensor/temperatur/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":270,"y":80,"wires":[["1265b14d.4399bf","63c048bc.d2f968","3f1930a3.711a4","551ea888.22c4f8"]]},{"id":"2f8c3777.ecafb8","type":"mqtt in","z":"4d90b497.b5b2ac","name":"","topic":"waschkueche_luefter/sensor/luftfeuchtigkeit/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":250,"y":240,"wires":[["ea8ce2c6.69dcd","63862f71.4caa5","94ccc1c9.62b1d","6caa0c88.a7b3f4"]]},{"id":"1265b14d.4399bf","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var temp = parseFloat(msg.payload);\nvar blue = null, green = null, red = null;\n\nif (temp < 21) {\n    blue = temp;\n} else if (temp < 23) {\n    green = temp;\n} else {\n    red = temp;\n}\n\nmsg = [{\n        label: \"Temperatur\",\n        series: \"blue\",\n        payload: blue\n    },\n    {\n        label: \"Temperatur\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Temperatur\",\n        series: \"red\",\n        payload: red\n    },\n];\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["522e1723.99aeb8"],["522e1723.99aeb8"],["522e1723.99aeb8"]]},{"id":"ea8ce2c6.69dcd","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var val = parseFloat(msg.payload);\n\nvar green = null, yellow = null, red = null;\n\nif (val < 35) {\n    green = val;\n} else if (val < 65) {\n    yellow = val;\n} else {\n    red = val;\n}\n\nmsg = [{\n        label: \"Luftfeuchtigkeit Werkstatt\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Luftfeuchtigkeit Werkstatt\",\n        series: \"yellow\",\n        payload: yellow\n    },\n    {\n        label: \"Luftfeuchtigkeit Werkstatt\",\n        series: \"red\",\n        payload: red\n    }\n];\n\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["923f54e8.66c118"],["923f54e8.66c118"],["923f54e8.66c118"]]},{"id":"63c048bc.d2f968","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var val = parseFloat(msg.payload);\n\nflow.set(\"waschkueche_temperatur\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[[]]},{"id":"63862f71.4caa5","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var val = parseFloat(msg.payload);\n\nflow.set(\"waschkueche_luftfeuchtigkeit\", val);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["a8931b52.026628"]]},{"id":"a8931b52.026628","type":"function","z":"4d90b497.b5b2ac","name":"","func":"const mw = 18.01534;    // molar mass of water g/mol\nconst r = 8.31447215;   // Universal gas constant J/mol/K\n\nvar a_abs_humidity = global.get(\"aussen_absolute_luftfeuchtigkeit\");\nvar wk_temperature = flow.get(\"waschkueche_temperatur\");\nvar wk_humidity = flow.get(\"waschkueche_luftfeuchtigkeit\");\n\nvar wk_abs_humidity = (6.112 * Math.pow(2.718281828, (17.67 * wk_temperature) /\n    (wk_temperature + 243.5)) * wk_humidity * mw) /\n    ((273.15 + wk_temperature) * r); // in grams/m^3\n\nvar luefter_sw;\nvar washroom_fan_control = flow.get(\"washroom_fan_control\");\nif (washroom_fan_control == \"ON\") {\n    luefter_sw = (wk_humidity > 70 && wk_abs_humidity > a_abs_humidity) ? \"ON\" : \"OFF\";\n}\n\nmsg = [\n    {topic: \"Waschküche g/m³\", payload: wk_abs_humidity},\n    {topic: \"Außen g/m³\", payload: a_abs_humidity},\n    (luefter_sw) ? {topic: \"luefter_sw\", payload: luefter_sw} : undefined\n];\n\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["ea22a8ba.b0c728"],["ea22a8ba.b0c728"],["74d29041.9a5c4"]]},{"id":"fcc6366f.aa0998","type":"mqtt out","z":"4d90b497.b5b2ac","name":"Waschküche Lüfter","topic":"waschkueche_luefter/switch/switch12/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1110,"y":440,"wires":[]},{"id":"74d29041.9a5c4","type":"ui_switch","z":"4d90b497.b5b2ac","name":"Waschküche Lüfter","label":"Lüfter","tooltip":"","group":"7e092ea0.4f2d9","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":830,"y":440,"wires":[["fcc6366f.aa0998","1875623c.1159de"]]},{"id":"d5fef74c.c342e8","type":"ui_switch","z":"4d90b497.b5b2ac","name":"Waschküche Lüfterautomatik","label":"Lüfterautomatik","tooltip":"","group":"7e092ea0.4f2d9","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":860,"y":480,"wires":[["9df23e12.4321d"]]},{"id":"1875623c.1159de","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var luefter_sw = msg.payload;\n\nmsg = {\n    topic: \"Lüfter\",\n    payload: (luefter_sw == \"ON\") ? 29 : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":380,"wires":[["ea22a8ba.b0c728"]]},{"id":"ea22a8ba.b0c728","type":"ui_chart","z":"4d90b497.b5b2ac","name":"Waschküche Lüfterautomatik","group":"8240b43a.1094b8","order":3,"width":0,"height":0,"label":"Waschküche Lüfterautomatik","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#9477bd","#e6e600","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":860,"y":320,"wires":[[]]},{"id":"9c38a690.14f558","type":"mqtt in","z":"4d90b497.b5b2ac","name":"","topic":"waschkueche_wama/sensor/power/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":280,"y":580,"wires":[["8fd7504b.225ed"]]},{"id":"15f3325a.1a8f0e","type":"hangoutChatBot","z":"4d90b497.b5b2ac","hangoutsCertificate":"10925253.f46f4e","roomid":"spaces/-fp3jQAAAAE","roomname":"spaces/-fp3jQAAAAE","contentproperty":"Waschmaschiene ist fertig!","contenttype":"str","x":800,"y":540,"wires":[[]]},{"id":"c4508389.32591","type":"mqtt in","z":"4d90b497.b5b2ac","name":"","topic":"waschkueche_wama/sensor/temperature/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":260,"y":720,"wires":[["c7cd3c7f.93d75"]]},{"id":"7b089f13.f2142","type":"hangoutChatBot","z":"4d90b497.b5b2ac","hangoutsCertificate":"10925253.f46f4e","roomid":"spaces/-fp3jQAAAAE","roomname":"spaces/-fp3jQAAAAE","contentproperty":"Shelly WaMa ist überhitzt!","contenttype":"str","x":800,"y":700,"wires":[[]]},{"id":"8fd7504b.225ed","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var val = parseFloat(msg.payload);\nconst last_n = 30\n\nvar wama_power_last = flow.get(\"wama_power_last\") || [];\nvar wama_status = flow.get(\"wama_status\") || \"Aus\";\n\nwama_power_last.unshift(val);\nwama_power_last = wama_power_last.splice(0, last_n);\nflow.set(\"wama_power_last\", wama_power_last);\n\navg_wama_power = wama_power_last.reduce(function (accumulator, currentValue) {\n  return accumulator + currentValue;\n}, 0) / last_n;\n\n\n// Result array:\n// 0 - Hangout\n// 1 - Status text\n// 2 - debug\nmsg = [undefined, {payload: wama_status}, {payload: avg_wama_power, topic: wama_status}];\nif (wama_status == \"läuft\") {\n    if (avg_wama_power < 4.0) {\n        flow.set(\"wama_status\", \"fertig\")\n        msg = [\n            {payload: \"fertig, \" + (new Date).toLocaleTimeString()},\n            {payload: \"fertig\"},\n            {payload: avg_wama_power, topic: wama_status}\n        ];\n    }\n} else if (wama_status == \"fertig\") {\n    if (avg_wama_power < 2.0) {\n        flow.set(\"wama_status\", \"aus\")\n        msg = [\n            undefined,\n            {payload: \"aus\"},\n            {payload: avg_wama_power, topic: wama_status}\n        ];\n    } else if (avg_wama_power >= 20.0) {\n        flow.set(\"wama_status\", \"läuft\")\n        msg = [\n            undefined,\n            {payload: \"läuft\"},\n            {payload: avg_wama_power, topic: wama_status}\n        ];\n    }\n} else { // status off\n    if (avg_wama_power >= 20.0) {\n        flow.set(\"wama_status\", \"läuft\")\n        msg = [\n            undefined,\n            {payload: \"läuft\"},\n            {payload: avg_wama_power, topic: wama_status}\n        ];\n    } else if (avg_wama_power >= 2.0) {\n        flow.set(\"wama_status\", \"fertig\")\n        msg = [\n            undefined,\n            {payload: \"fertig\"},\n            {payload: avg_wama_power, topic: wama_status}\n        ];\n    }\n}\n\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["15f3325a.1a8f0e"],["fd3b965b.3e6fc8"],["5f2e7e11.2be23","9fbf87b9.5b6618"]]},{"id":"c7cd3c7f.93d75","type":"function","z":"4d90b497.b5b2ac","name":"","func":"var val = parseFloat(msg.payload);\n\nvar text, status;\nif (val > 95) {\n    msg = [\n        {payload: \"Überhitzt\"},\n        {payload: \"OFF\"}\n    ];\n} else if (val < 55) {\n    msg = [\n        undefined,\n        {payload: \"ON\"}\n    ];\n} else {\n    msg = [\n        undefined,\n        undefined\n    ];\n}\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":720,"wires":[["7b089f13.f2142"],["76339dfa.1244c4"]]},{"id":"76339dfa.1244c4","type":"mqtt out","z":"4d90b497.b5b2ac","name":"","topic":"waschkueche_wama/switch/switch15/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":930,"y":740,"wires":[]},{"id":"fd3b965b.3e6fc8","type":"ui_text","z":"4d90b497.b5b2ac","group":"7e092ea0.4f2d9","order":5,"width":0,"height":0,"name":"","label":"Waschmaschine/Trockner","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":580,"wires":[]},{"id":"9df23e12.4321d","type":"change","z":"4d90b497.b5b2ac","name":"","rules":[{"t":"set","p":"washroom_fan_control","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":480,"wires":[[]]},{"id":"17bd4566.e842bb","type":"influxdb out","z":"29cd7d28.a2bf92","influxdb":"eeb221fb.ab27f","name":"InfluxDB test","measurement":"","precision":"","retentionPolicy":"","database":"test","retentionPolicyV18Flux":"","org":"dipe","bucket":"dipe-pi","x":550,"y":300,"wires":[]},{"id":"be93bfeb.416c4","type":"function","z":"29cd7d28.a2bf92","name":"single value","func":"msg.payload = Math.random()*10;\nmsg.measurement = \"lala\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["17bd4566.e842bb"]]},{"id":"31f9f174.ce060e","type":"inject","z":"29cd7d28.a2bf92","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["be93bfeb.416c4"]]},{"id":"867fd718.7ce3d8","type":"inject","z":"29cd7d28.a2bf92","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[["cf6eee16.44552"]]},{"id":"cf6eee16.44552","type":"function","z":"29cd7d28.a2bf92","name":"Fields","func":"msg.payload = {\n    intValue: '12i',\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":348,"y":380,"wires":[["308c3ef4.09ba42"]]},{"id":"308c3ef4.09ba42","type":"influxdb out","z":"29cd7d28.a2bf92","influxdb":"eeb221fb.ab27f","name":"","measurement":"test2","precision":"","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"dipe","bucket":"dipe-pi","x":540,"y":380,"wires":[]},{"id":"b4c4515f.a28cf","type":"inject","z":"29cd7d28.a2bf92","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":200,"y":460,"wires":[["33a9b768.3496e8"]]},{"id":"33a9b768.3496e8","type":"function","z":"29cd7d28.a2bf92","name":"Fields and Tags","func":"msg.payload = [{\n    intValue: '10i',\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["b237b19.9299b5"]]},{"id":"b237b19.9299b5","type":"influxdb out","z":"29cd7d28.a2bf92","influxdb":"eeb221fb.ab27f","name":"","measurement":"test2","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"dipe","bucket":"dipe-pi","x":600,"y":460,"wires":[]},{"id":"c881317a.9076","type":"influxdb in","z":"29cd7d28.a2bf92","influxdb":"eeb221fb.ab27f","name":"","query":"from(bucket: \"dipe-pi\") |> range(start: -1d, stop: now())","rawOutput":false,"precision":"","retentionPolicy":"","org":"dipe","x":380,"y":540,"wires":[["bdd8c73b.b76aa8"]]},{"id":"bdd8c73b.b76aa8","type":"debug","z":"29cd7d28.a2bf92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":540,"wires":[]},{"id":"2370fead.2ef3d2","type":"inject","z":"29cd7d28.a2bf92","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":540,"wires":[["c881317a.9076"]]},{"id":"47659f9e.c7238","type":"influxdb in","z":"29cd7d28.a2bf92","influxdb":"eeb221fb.ab27f","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"dipe","x":380,"y":680,"wires":[["b26c19f2.41f068"]]},{"id":"b26c19f2.41f068","type":"debug","z":"29cd7d28.a2bf92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":680,"wires":[]},{"id":"9139e4c8.cef628","type":"function","z":"29cd7d28.a2bf92","name":"set query","func":"msg.query = 'from(bucket: \"dipe-pi\") |> range(start: -1d, stop: now())'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":600,"wires":[["47659f9e.c7238"]]},{"id":"f796cba9.8eb768","type":"inject","z":"29cd7d28.a2bf92","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":600,"wires":[["9139e4c8.cef628"]]},{"id":"e2b3fd7e.165c4","type":"function","z":"29cd7d28.a2bf92","name":"to measurement","func":"return {\n  measurement: msg.topic,\n  payload: msg.payload\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":120,"wires":[["4c2516f0.ed40a8"]]},{"id":"4c2516f0.ed40a8","type":"function","z":"29cd7d28.a2bf92","name":"Filter Debug","func":"function flatItem(base, key, src, dest) {\n     if (typeof src === 'undefined') {\n         return;\n     }\n     const deepKey = base.length ? base + '.' + key : key;\n     // console.log(`base=${base} key=${key} deepKey=${deepKey}`);\n     if (typeof src === 'object') {\n        if (Array.isArray(src)) {\n            src.forEach((val, idx) => flatItem(deepKey, idx, val, dest));\n        } else {\n            Object.entries(src).forEach(([key, val]) => flatItem(deepKey, key, val, dest))\n        }\n     } else {\n        dest[deepKey] = src;\n     }\n}\nif (!(\n    msg.measurement.includes('debug') ||\n    !msg.payload\n   )) {\n    let deSerialize = {};\n    let deep = msg.payload;\n    let value; \n    try {\n        deep = JSON.parse(msg.payload);\n        if (typeof deep == 'object') {\n            flatItem('', '', deep, deSerialize);\n        } else {\n           deSerialize.value = deep; \n        }\n    } catch (e) {\n    }\n    return {\n        ...msg,\n        payload: {\n            ...deSerialize,\n            val: msg.payload,\n            topic: msg.measurement\n        }\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":160,"wires":[[]]},{"id":"3f614727.989a68","type":"mqtt in","z":"293bb437.fa00bc","name":"Kellertürschalter innen","topic":"kellertuer/binary_sensor/switch2/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":260,"y":860,"wires":[["7e1d2b18.0c9484"]]},{"id":"ba941b0f.612f68","type":"mqtt out","z":"293bb437.fa00bc","name":"Gartenlicht","topic":"kellertuer/switch/relay2/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1150,"y":860,"wires":[]},{"id":"9c8ad592.66e0d8","type":"mqtt out","z":"293bb437.fa00bc","name":"Kellertürlicht","topic":"kellertuer/switch/relay1/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1150,"y":1060,"wires":[]},{"id":"5f2e7e11.2be23","type":"ui_chart","z":"4d90b497.b5b2ac","name":"","group":"8240b43a.1094b8","order":4,"width":0,"height":0,"label":"debug avg power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":620,"wires":[[]]},{"id":"9fbf87b9.5b6618","type":"debug","z":"4d90b497.b5b2ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":660,"wires":[]},{"id":"6c60716b.1a609","type":"ui_switch","z":"293bb437.fa00bc","name":"Gartenlicht","label":"Gartenlicht","tooltip":"","group":"d32aa509.f54168","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":930,"y":860,"wires":[["ba941b0f.612f68"]]},{"id":"3f392e15.5cb7d2","type":"ui_switch","z":"293bb437.fa00bc","name":"Kellertürscheinwerfer","label":"Kellertürscheinwerfer","tooltip":"","group":"d32aa509.f54168","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":960,"y":1060,"wires":[["9c8ad592.66e0d8"]]},{"id":"ee80f561.19c918","type":"mqtt in","z":"293bb437.fa00bc","name":"Kellertürschalter außen","topic":"kellertuer/binary_sensor/switch1/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":260,"y":1060,"wires":[["eabff51d.1ce108"]]},{"id":"7e1d2b18.0c9484","type":"function","z":"293bb437.fa00bc","name":"toggle","func":"if (msg.payload != \"ON\")\n    return undefined;\n\nvar topic = \"gartenlicht\";\nvar current_state = flow.get(topic);\nvar new_state;\n\nif (current_state === \"OFF\") {\n    new_state = \"ON\";\n} else {\n    new_state = \"OFF\";\n}\n\nflow.set(topic, new_state);\n\nreturn {payload: new_state};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":860,"wires":[["6c60716b.1a609"]]},{"id":"6bf28582.1559bc","type":"mqtt in","z":"fc81a32b.bb6db","name":"","topic":"luftfeuchtemesser1/sensor/temperatur/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":250,"y":140,"wires":[["1607a7e2.b331e8","64780b25.0ebc64","ba47da19.b2e468"]]},{"id":"c6cadb4b.6f3508","type":"mqtt in","z":"fc81a32b.bb6db","name":"","topic":"luftfeuchtemesser1/sensor/luftfeuchtigkeit/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":240,"y":300,"wires":[["493a66fe.df57b8","b33b97f.ec79f68","7dbe9f4d.c3119"]]},{"id":"2029931b.030d5c","type":"ui_chart","z":"fc81a32b.bb6db","name":"Gäste-WC Temperatur","group":"957dd4b7.619928","order":2,"width":0,"height":0,"label":"Temperatur °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#015bb4","#2ca02c","#d62c27","#d62c27","#98df8a","#015bb4","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":180,"wires":[[]]},{"id":"1607a7e2.b331e8","type":"function","z":"fc81a32b.bb6db","name":"","func":"var temp = parseFloat(msg.payload);\nvar blue = null, green = null, red = null;\n\nif (temp < 21) {\n    blue = temp;\n} else if (temp < 23) {\n    green = temp;\n} else {\n    red = temp;\n}\n\nmsg = [{\n        label: \"Temperatur\",\n        series: \"blue\",\n        payload: blue\n    },\n    {\n        label: \"Temperatur\",\n        series: \"green\",\n        payload: green\n    },\n    {\n        label: \"Temperatur\",\n        series: \"red\",\n        payload: red\n    },\n];\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":180,"wires":[["2029931b.030d5c"],["2029931b.030d5c"],["2029931b.030d5c"]]},{"id":"493a66fe.df57b8","type":"function","z":"fc81a32b.bb6db","name":"","func":"var val = parseFloat(msg.payload);\n\nvar green = null, yellow = null, red = null;\n\nif (val < 35) {\n    green = val;\n} else if (val < 65) {\n    yellow = val;\n} else {\n    red = val;\n}\n\nmsg = [{\n        series: \"green\",\n        payload: green\n    },\n    {\n        series: \"yellow\",\n        payload: yellow\n    },\n    {\n        series: \"red\",\n        payload: red\n    }\n];\n\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["fd725344.a2095"],["fd725344.a2095"],["fd725344.a2095"]]},{"id":"fd725344.a2095","type":"ui_chart","z":"fc81a32b.bb6db","name":"Gäste-WC Luftfeuchtigkeit","group":"957dd4b7.619928","order":3,"width":0,"height":0,"label":"Luftfeuchtigkeit % rel.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#e6e600","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":340,"wires":[[]]},{"id":"b33b97f.ec79f68","type":"ui_gauge","z":"fc81a32b.bb6db","name":"Gäste-WC Luftfeuchtigkeit","group":"d63872c3.cf8dc","order":3,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"% rel.","format":"{{value}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"65","x":860,"y":300,"wires":[]},{"id":"64780b25.0ebc64","type":"ui_gauge","z":"fc81a32b.bb6db","name":"Gäste-WC Temperatur","group":"d63872c3.cf8dc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#1f77b4","#00b500","#ca3838"],"seg1":"21","seg2":"23","x":840,"y":140,"wires":[]},{"id":"4d4ee9d1.fbd888","type":"ui_text","z":"fc81a32b.bb6db","group":"d63872c3.cf8dc","order":1,"width":0,"height":0,"name":"","label":"Gäste-WC","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":100,"wires":[]},{"id":"1ca07061.2e89e","type":"ui_text","z":"fc81a32b.bb6db","group":"957dd4b7.619928","order":1,"width":0,"height":0,"name":"","label":"Gäste-WC","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":260,"wires":[]},{"id":"b529a82a.481848","type":"mqtt out","z":"3a471104.edfbae","name":"Treppemnhauslicht","topic":"treppenhaus/switch/relay1/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1150,"y":240,"wires":[]},{"id":"e3b87d0f.108a9","type":"mqtt in","z":"3a471104.edfbae","name":"","topic":"treppenhaus/binary_sensor/taster1/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":200,"y":60,"wires":[["dba6f56.3127408"]]},{"id":"c07473f0.eb252","type":"ui_switch","z":"3a471104.edfbae","name":"Treppenhaus","label":"Treppenhaus","tooltip":"","group":"64b01bd0.e1d1b4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"treppenhaus","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":750,"y":240,"wires":[["4907d5.d804982c","553fc166.0b31c"]]},{"id":"153c328e.15de1d","type":"mqtt in","z":"3a471104.edfbae","name":"Bewegungsmelder Treppenhaus4","topic":"zigbee2mqtt/Bewegungsmelder Treppenhaus4","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":170,"y":240,"wires":[["c473a018.46907","38bf3abf.87fe76"]]},{"id":"c473a018.46907","type":"function","z":"3a471104.edfbae","name":"map occupancy to ON","func":"if (msg.payload[\"occupancy\"])\n    return {payload: \"ON\"}\nelse \n    return undefined;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["c07473f0.eb252"]]},{"id":"dba6f56.3127408","type":"function","z":"3a471104.edfbae","name":"toggle state","func":"if (msg.payload != \"OFF\") { // taster is inverted :/\n    return undefined;\n}\n\nvar topic = \"treppenhaustaster\";\nvar current_state = flow.get(topic);\n\nif (current_state === \"OFF\")\n    return {payload: \"ON\"}\nelse\n    return {payload: \"OFF\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":60,"wires":[["c07473f0.eb252"]]},{"id":"4907d5.d804982c","type":"function","z":"3a471104.edfbae","name":"filter ON","func":"if (msg.payload === \"ON\")\n    return {payload: \"ON\"}\nelse\n    return undefined;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["1bf72870.060278"]]},{"id":"553fc166.0b31c","type":"function","z":"3a471104.edfbae","name":"save state","func":"flow.set(\"treppenhaustaster\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":240,"wires":[["b529a82a.481848"]]},{"id":"923f54e8.66c118","type":"ui_chart","z":"4d90b497.b5b2ac","name":"Waschküche Luftfeuchtigkeit","group":"957dd4b7.619928","order":6,"width":0,"height":0,"label":"Luftfeuchtigkeit % rel.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#e6e600","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":280,"wires":[[]]},{"id":"94ccc1c9.62b1d","type":"ui_gauge","z":"4d90b497.b5b2ac","name":"Waschküche Luftfeuchtigkeit","group":"d63872c3.cf8dc","order":6,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"% rel.","format":"{{value}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"65","x":860,"y":240,"wires":[]},{"id":"7df8b0a9.7d431","type":"ui_text","z":"fc81a32b.bb6db","group":"957dd4b7.619928","order":4,"width":0,"height":0,"name":"","label":"Waschküche","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":400,"wires":[]},{"id":"ff8f4c9e.72c9f","type":"ui_text","z":"fc81a32b.bb6db","group":"d63872c3.cf8dc","order":4,"width":0,"height":0,"name":"","label":"Waschküche","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":400,"wires":[]},{"id":"3f1930a3.711a4","type":"ui_gauge","z":"4d90b497.b5b2ac","name":"Waschküche Temperatur","group":"d63872c3.cf8dc","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#1f77b4","#00b500","#ca3838"],"seg1":"21","seg2":"23","x":850,"y":80,"wires":[]},{"id":"522e1723.99aeb8","type":"ui_chart","z":"4d90b497.b5b2ac","name":"Waschküche Temperatur","group":"957dd4b7.619928","order":5,"width":0,"height":0,"label":"Temperatur °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"warten auf Daten…","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#015bb4","#2ca02c","#d62c27","#d62c27","#98df8a","#015bb4","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":120,"wires":[[]]},{"id":"2122f69.fdedd0a","type":"mqtt in","z":"29cd7d28.a2bf92","name":"","topic":"sensors/#","broker":"e8ee0bf9.1711f8","x":400,"y":740,"wires":[[]]},{"id":"bbed4e22.4412b","type":"function","z":"29cd7d28.a2bf92","name":"MQTT to InfluxDB","func":"var tokens = msg.topic.split(\"/\");\nvar dest = tokens[tokens.length-1];\nmsg.url =\"http://localhost:8086/write?db=greenhouse\";\nmsg.payload = tokens[2] + \",device=\" + tokens[1] + \" value=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":619,"y":742,"wires":[["92e875bf.6d1788","7804637a.87fb9c"]]},{"id":"92e875bf.6d1788","type":"http request","z":"29cd7d28.a2bf92","name":"","method":"POST","ret":"txt","url":"http://localhost:8086/write?db=greenhouse","x":842,"y":741,"wires":[["989defec.67621"]]},{"id":"989defec.67621","type":"debug","z":"29cd7d28.a2bf92","name":"","active":true,"console":"false","complete":"true","x":1036,"y":740,"wires":[]},{"id":"7804637a.87fb9c","type":"debug","z":"29cd7d28.a2bf92","name":"","active":true,"console":"false","complete":"false","x":826,"y":881,"wires":[]},{"id":"f5ef5d9a.19293","type":"mqtt in","z":"2f328ad8.26ca86","name":"","topic":"+/sensor/+/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":260,"y":340,"wires":[["35cc2ef1.287c12"]]},{"id":"b80c7194.ea97b","type":"influxdb out","z":"2f328ad8.26ca86","d":true,"influxdb":"eeb221fb.ab27f","name":"InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"dipe","bucket":"dipe-pi","x":740,"y":380,"wires":[]},{"id":"35cc2ef1.287c12","type":"function","z":"2f328ad8.26ca86","name":"ESPHOME to InfluxDB","func":"var value;\nif(/^(\\-|\\+)?([0-9]+(\\.[0-9]+)?)$/.test(msg.payload)) {\n  value = Number(msg.payload);\n} else {\n  value = msg.payload;\n}\n\nvar tokens = msg.topic.split(\"/\");\nvar sensor = tokens[0];\nvar measurement = tokens[2];\nmsg.measurement = sensor;\n\nmsg.payload = {};\nmsg.payload[measurement] = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["540d8a1f.2bf5a4","b80c7194.ea97b"]]},{"id":"91c42846.69b688","type":"mqtt in","z":"2f328ad8.26ca86","name":"","topic":"zigbee2mqtt/+","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":260,"y":420,"wires":[["d3611b0.f5559e8"]]},{"id":"d3611b0.f5559e8","type":"function","z":"2f328ad8.26ca86","name":"ZIGBEE2MQTT to InfluxDB","func":"function flatItem(base, key, src, dest) {\n     if (typeof src === 'undefined') {\n         return;\n     }\n     const deepKey = base.length ? base + '.' + key : key;\n     // console.log(`base=${base} key=${key} deepKey=${deepKey}`);\n     if (typeof src === 'object') {\n        if (Array.isArray(src)) {\n            src.forEach((val, idx) => flatItem(deepKey, idx, val, dest));\n        } else {\n            Object.entries(src).forEach(([key, val]) => flatItem(deepKey, key, val, dest))\n        }\n     } else {\n        dest[deepKey] = src;\n     }\n}\n\nlet deSerialize = {};\nlet deep = msg.payload;\nlet value; \ntry {\n    deep = JSON.parse(msg.payload);\n    if (typeof deep == 'object') {\n        flatItem('', '', deep, deSerialize);\n    } else {\n       deSerialize.value = deep; \n    }\n} catch (e) {\n}\n\nvar tokens = msg.topic.split(\"/\");\nvar sensor = tokens[1];\nmsg.measurement = sensor;\nmsg.payload = deSerialize;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[["540d8a1f.2bf5a4","b80c7194.ea97b"]]},{"id":"540d8a1f.2bf5a4","type":"debug","z":"2f328ad8.26ca86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"1c86fb0b.6322c5","type":"mqtt in","z":"3a471104.edfbae","name":"Bewegungsmelder Treppenhaus3","topic":"zigbee2mqtt/Bewegungsmelder Treppenhaus3","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":170,"y":200,"wires":[["c473a018.46907"]]},{"id":"c8229850.b97058","type":"mqtt in","z":"3a471104.edfbae","name":"Bewegungsmelder Treppenhaus2","topic":"zigbee2mqtt/Bewegungsmelder Treppenhaus2","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":170,"y":160,"wires":[["c473a018.46907"]]},{"id":"cf66c5f7.71d4e8","type":"mqtt in","z":"3a471104.edfbae","name":"Bewegungsmelder Treppenhaus1","topic":"zigbee2mqtt/Bewegungsmelder Treppenhaus1","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":170,"y":120,"wires":[["c473a018.46907"]]},{"id":"6de264d6.e9f88c","type":"mqtt in","z":"293bb437.fa00bc","name":"Fernbedienung Balkontür","topic":"zigbee2mqtt/Fernbedienung Balkontür","qos":"2","datatype":"json","broker":"c349b9ff.9dc4c8","x":270,"y":980,"wires":[["851693ee.65c15"]]},{"id":"851693ee.65c15","type":"switch","z":"293bb437.fa00bc","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":470,"y":980,"wires":[["89f0fbf4.8c0958"],["3191ad6d.ff0602"],[],[],[]]},{"id":"89f0fbf4.8c0958","type":"template","z":"293bb437.fa00bc","name":"ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"ON","output":"str","x":630,"y":900,"wires":[["7e1d2b18.0c9484"]]},{"id":"3191ad6d.ff0602","type":"template","z":"293bb437.fa00bc","name":"ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"ON","output":"str","x":630,"y":1020,"wires":[["eabff51d.1ce108"]]},{"id":"eabff51d.1ce108","type":"function","z":"293bb437.fa00bc","name":"toggle","func":"if (msg.payload != \"ON\")\n    return undefined;\n\nvar topic = \"kellertürlicht\";\nvar current_state = flow.get(topic);\nvar new_state;\n\nif (current_state === \"OFF\") {\n    new_state = \"ON\";\n} else {\n    new_state = \"OFF\";\n}\n\nflow.set(topic, new_state);\n\nreturn {payload: new_state};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1060,"wires":[["3f392e15.5cb7d2"]]},{"id":"bb3b7629.ab9698","type":"mqtt in","z":"3a471104.edfbae","name":"","topic":"treppenhaus_keller/binary_sensor/button1/state","qos":"2","datatype":"auto","broker":"c349b9ff.9dc4c8","x":220,"y":440,"wires":[["e11fb84e.7887b8"]]},{"id":"b187a14.548406","type":"mqtt out","z":"3a471104.edfbae","name":"","topic":"treppenhaus_keller/switch/relay1/command","qos":"","retain":"","broker":"c349b9ff.9dc4c8","x":1250,"y":440,"wires":[]},{"id":"e11fb84e.7887b8","type":"function","z":"3a471104.edfbae","name":"toggle state","func":"var topic = \"treppenhaus_kellerlicht\";\nvar current_state = flow.get(topic);\n\nif (current_state === \"OFF\")\n    return {payload: \"ON\"}\nelse\n    return {payload: \"OFF\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":440,"wires":[["3eb024a5.e9f9bc"]]},{"id":"41e39711.b892e8","type":"function","z":"3a471104.edfbae","name":"save state","func":"flow.set(\"treppenhaus_kellerlicht\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":440,"wires":[["b187a14.548406"]]},{"id":"3eb024a5.e9f9bc","type":"ui_switch","z":"3a471104.edfbae","name":"Treppenhaus Keller","label":"Treppenhaus Keller","tooltip":"","group":"64b01bd0.e1d1b4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"treppenhaus_keller","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":770,"y":440,"wires":[["41e39711.b892e8","4907d5.d804982c"]]},{"id":"5a9ba8dd.c08758","type":"function","z":"37daec28.284ee4","name":"3","func":"msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["5e79d51e.9213dc"]]},{"id":"38bf3abf.87fe76","type":"function","z":"3a471104.edfbae","name":"map occupancy to ON","func":"if (msg.payload[\"occupancy\"])\n    return {payload: \"ON\"}\nelse \n    return undefined;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["3eb024a5.e9f9bc"]]},{"id":"1bf72870.060278","type":"trigger","z":"3a471104.edfbae","name":"Treppenhausautomat","op1":"","op2":"OFF","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":780,"y":340,"wires":[["c07473f0.eb252","3eb024a5.e9f9bc"]]},{"id":"ba47da19.b2e468","type":"change","z":"fc81a32b.bb6db","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":100,"wires":[[]]},{"id":"7dbe9f4d.c3119","type":"change","z":"fc81a32b.bb6db","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[[]]},{"id":"551ea888.22c4f8","type":"change","z":"4d90b497.b5b2ac","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":40,"wires":[[]]},{"id":"6caa0c88.a7b3f4","type":"change","z":"4d90b497.b5b2ac","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[[]]},{"id":"3e8bd40f.404dac","type":"change","z":"293bb437.fa00bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[[]]},{"id":"1bc6ee94.b27721","type":"change","z":"293bb437.fa00bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[[]]},{"id":"8d798950.dbc948","type":"change","z":"293bb437.fa00bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[[]]},{"id":"82474c2a.6e79d","type":"change","z":"293bb437.fa00bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[[]]},{"id":"9e22db22.9a10e8","type":"change","z":"293bb437.fa00bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":640,"wires":[[]]},{"id":"12ebb575.a874db","type":"ui_template","z":"2788b93b.8a2f56","group":"245ec0f9.12765","name":"","order":1,"width":0,"height":0,"format":"<md-card ui-card-size=\"6x1\" style=\"background-color: green; color: white;\" layout=\"row\" layout-align=\"center center\" class=\"nr-dashboard-text _md layout-row layout-align-center-center nr-dashboard-widget-text visible\" style=\"left: 0px; top: 54px; width: 318px; height: 48px;\">\n    <p class=\"label\" ng-bind-html=\"msg.payload\"></p>\n</md-card>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":200,"wires":[[]]},{"id":"3825ae1b.6847c2","type":"function","z":"2788b93b.8a2f56","name":"Lüftungsempfehlung","func":"var room_temperature = msg.payload.temperature;\nvar room_humidity = msg.payload.humidity;\n\nvar outside_abs_humidity = global.get(\"aussen/sensor/absolute_luftfeuchtigkeit/state\");\n\nconst mw = 18.01534;    // molar mass of water g/mol\nconst r = 8.31447215;   // Universal gas constant J/mol/K\nconst threashold = 1.1; // Abs. outside humidity must 10% less then inside\n\nvar room_abs_humidity = (6.112 * Math.pow(2.718281828, (17.67 * room_temperature) /\n    (room_temperature + 243.5)) * room_humidity * mw) /\n    ((273.15 + room_temperature) * r); // in grams/m^3\nvar room_abs_humidity_65 = (6.112 * Math.pow(2.718281828, (17.67 * room_temperature) /\n    (room_temperature + 243.5)) * 65 * mw) /\n    ((273.15 + room_temperature) * r); // in grams/m^3\n\nif (room_humidity >= 65 && room_abs_humidity > outside_abs_humidity * threashold) {\n    return {payload: \"Must Ventilate\"};\n} else if (room_abs_humidity_65 > outside_abs_humidity * threashold) {\n    return {payload: \"Ventilation possible\"};\n} else {\n    return {payload: \"Keep windows closed\"};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":200,"wires":[["12ebb575.a874db"]]},{"id":"bf274f2e.a98df","type":"inject","z":"2788b93b.8a2f56","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\": 18 ,\"humidity\": 22}","payloadType":"json","x":300,"y":200,"wires":[["3825ae1b.6847c2"]]}]